:root {
  --button-color: #596D48;
  --light-color:#E5E7EB;
}

body {
  margin:0;
}

img {
  height: 100vh;
}

.Hflex {
  display: flex;
  justify-content: center;
  align-items: center;
}
.Vflex {
  display: flex;
  flex-direction: column;
}

.main p, .main button, .main span {
  margin-left: 2rem;
  margin-bottom: 2rem;
  margin-top: 2rem;
}

form {
  display: grid;
  grid-template-columns: repeat(2, auto);
  padding-left: 2rem;
  box-shadow: 5px 5px 10px rgb(194, 194, 194);
}
form h1 {
  grid-column: 1 / span 2;
}
.form-item {
  margin-right: 2rem;
  margin-bottom: 1rem;
}
input:focus {
  border: blue solid 3px;
  box-shadow: 5px 5px 10px rgb(194, 194, 194);
}

button {
  width: 13rem;
  height: 2rem;
}

.left-section {
  position: relative;
}

.title-text {
  position: absolute;
}

.left-section {
  display:flex;
  justify-content: center;
  align-items: center;
}

.left-section .odin-logo {
  width: 6em;
  height: auto;
}

.left-section .odin {
  position: absolute;
  color: white;
  background-color: black;
}