:root {
  --button-color: #596D48;
  --light-color:#E5E7EB;
  margin: 0;
  padding: 0;
}

.Hflex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.Vflex {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.error {

}

.selected {

}

div {
  background-color: green;
  border: white;
}

